{% extends "template.html" %} {% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
    <tr>
      {% for key in jogos[0].__dict__.keys() %}
      <th>{{ key|title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for jogo in jogos %}
    <tr>
      <td>{{ jogo.id or "" }}</td>
      <td>{{ jogo.nome }}</td>
      <td>{{ jogo.categoria }}</td>
      <td>{{ jogo.console }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
